*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/.gradle/
android/local.properties
android/app/google-services.json
functions/node_modules/
functions/lib/
web-admin/node_modules/
web-admin/.next/
web-admin/.env.local
.firebase/
.env
serviceAccountKey.json
